# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb~

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.venv/
*.sqlite3
myenv/

# Data files
*.csv
*.xlsx
*.xls
*.json
*.yaml
*.parquet
*.pkl

# Reports
*.pdf
*.docx
*.pptx
*.pbix

# Temporary
tmp/
*.bak
*.tmp

# Ignore cmt files
cmt-files/

# Ignore secrets.txt file
secrets.txt